td{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    border-right: .5px solid rgb(197, 194, 194);
    padding: 10px 0;
    text-align: center;
}
tr:hover{
    background-color: black;
    color:white;
    
}